<h2>All Units</h2>

<div class="all-units-table">


    <!-- Army -->

    <div class="all-units-row">

        <div class="all-units-category">
            Army
        </div>

        <div class="all-units-list">

            <a href="{{ url_for('wiki_motorised_infantry') }}">
                Motorised Infantry
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_mechanised_infantry') }}">
                Mechanised Infantry
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_armoured') }}">
                Armoured
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_national_guard') }}">
                National Guard
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_engineer') }}">
                Engineer
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_logistics_unit') }}">
                Logistics
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_headquarters') }}">
                Headquarters
            </a>

        </div>

    </div>


    <!-- Navy -->

    <div class="all-units-row">

        <div class="all-units-category">
            Navy
        </div>

        <div class="all-units-list">

            <a href="{{ url_for('wiki_corvette') }}">
                Littoral Combat Ship
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_frigate') }}">
                Frigate
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_destroyer') }}">
                Destroyer
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_cruiser') }}">
                Cruiser
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_transport') }}">
                Sealift Ship
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_supply_ship') }}">
                Supply Ship
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_aas') }}">
                Amphibious Assault Ship
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_carrier') }}">
                Aircraft Carrier
            </a>

        </div>

    </div>


    <!-- Air Force -->

    <div class="all-units-row">

        <div class="all-units-category">
            Air Force
        </div>

        <div class="all-units-list">

            <a href="{{ url_for('wiki_multirole_fighter') }}">
                Multirole Fighter
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_attack_fighter') }}">
                Attack Fighter
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_air_superiority_fighter') }}">
                Air Superiority Fighter
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_stealth_air_superiority_fighter') }}">
                Stealth Air Superiority Fighter
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_stealth_multirole_fighter') }}">
                Stealth Multirole Fighter
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_bomber') }}">
                Bomber
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_stealth_bomber') }}">
                Stealth Bomber
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_strategic_airlift_aircraft') }}">
                Strategic Airlift Aircraft
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_tanker') }}">
                Tanker
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_awacs') }}">
                AWACS
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_mpa') }}">
                Marine Patrol Aircraft
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_nmrf') }}">
                Naval Multirole Fighter
            </a>

        </div>

    </div>


    <!-- Special -->

    <div class="all-units-row">

        <div class="all-units-category">
            Special
        </div>

        <div class="all-units-list">

            <a href="{{ url_for('wiki_helicopter') }}">
                Helicopter
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_artillery_towed') }}">
                Towed Artillery
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_artillery_mech') }}">
                Mechanised Artillery
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_anti_air') }}">
                Anti-Air
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_coastal_defence') }}">
                Coastal Defence
            </a>

            <span>•</span>

            <a href="{{ url_for('wiki_submarine') }}">
                Submarine
            </a>

        </div>

    </div>


</div>