<!DOCTYPE html>
<html>
<head>
    <title>Construction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/images/Logo-Blue.png">
</head>

 <body>

    {% include 'components/navbar.html' %}

        <main class="game-container">

            {% include "partials/nation_header.html" %}
            <div class="production-page">

                <!-- Unit Shop -->
                {% include "components/building_shop.html" %}

                <!-- Unit Wiki -->
                {% include "components/building_details.html" %}

                <!-- Production Lines -->
                {% include "components/production_queue.html" %}

            </div>

            <div id="miningPopup" class="popup-overlay" style="display: none;">

            <div class="popup">

                    <h2>Mining District</h2>

                    <p>Select the resource this Mining District will extract.</p>

                    <label>
                        <input type="radio" name="miningResource" value="2" checked>
                        Common Metal
                    </label>

                    <br>

                    <label>
                        <input type="radio" name="miningResource" value="3">
                        Rare Metal
                    </label>

                    <br><br>

                    <button id="confirmMiningButton">
                        Build
                    </button>

                    <button onclick="closeMiningPopup()">
                        Cancel
                    </button>

                </div>

            </div>
        </main>

<script src="{{ url_for('static', filename='js/construction.js') }}"></script>
</body>

{% include 'partials/footer.html' %}
</html>