<!DOCTYPE html>
<html>
<head>
    <title>Construction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/images/Logo-Blue.png">
</head>

 <!-- Display the navbar from the components folder -->
{% include 'components/navbar.html' %}




<body>
    <div class="production-page">

        <!-- Unit Shop -->
        {% include "components/building_shop.html" %}

        <!-- Unit Wiki -->
        {% include "components/building_details.html" %}

        <!-- Production Lines -->
        {% include "components/production_queue.html" %}

    </div>


<script src="{{ url_for('static', filename='js/construction.js') }}"></script>
</body>
</html>