<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

 <!-- Display the navbar from the components folder -->
{% include 'components/navbar.html' %}

<body>
<h1>{{ nation.name }}</h1>
<img src="{{ url_for('static', filename=nation.flag) }}" alt="Flag of {{ nation.name }}" class="nation-flag">



<hr>

<h2>Resources</h2>

{% for resource in resources %}

    <p>

        {{ resource.name }}:

        {% if resource.measurement_convention == "$" %}

            {{ resource.measurement_convention }}{{ "{:,}".format(resource.amount) }}

        {% else %}

            {{ "{:,}".format(resource.amount) }} {{ resource.measurement_convention }}

        {% endif %}

    </p>

{% endfor %}

<h2>National Treasury</h2>

<p>Display line graph of treasury changes over time.</p>

<H2>Notifications</H2>
<p>Display notifications about recent events, such as attacks, research completion, etc.</p>
<p>In a list (table format)</p>

<h2>Actions</h2>

<div class="dashboard-actions">

    <button onclick="window.location.href='/economy'">
        Economy Management
    </button>

    <button onclick="window.location.href='/recruit'">
        Recruit Units
    </button>

    <button onclick="window.location.href='/military'">
        Buildings & Infrastructure
    </button>

    <button onclick="window.location.href='/research'">
        Research & Technology
    </button>

</div>
</body>
</html>