<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

 <!-- Display the navbar from the components folder -->
{% include 'components/navbar.html' %}

<body>
<h1>{{ nation.name }}</h1>

<hr>

<h2>Resources</h2>

{% for resource in resources %}

    <p>

        {{ resource.name }}:

        {% if resource.measurement_convention == "$" %}

            {{ resource.measurement_convention }}{{ "{:,}".format(resource.amount) }}

        {% else %}

            {{ "{:,}".format(resource.amount) }} {{ resource.measurement_convention }}

        {% endif %}

    </p>

{% endfor %}
</body>
</html>