<!DOCTYPE html>
<html>
<head>
    <title>Unit Database Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('access') }}">Login/Signup</a></li>
        <li><a href="{{ url_for('admin_dashboard') }}">Admin Panel</a></li>
        <button onclick="window.location.href='/logout'">
            Logout
        </button>   
    </ul>
</nav>

<body>

    <h1>Homepage stuff</h1>

</body>
</html>