<!DOCTYPE html>
<html>
<head>
    <title>Production</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/images/Logo-Blue.png">
</head>

<body>

    {% include 'components/navbar.html' %}

    <main class="game-container">

        {% include "partials/nation_header.html" %}

        <div class="production-page">

            <!-- Unit Shop -->
            {% include "components/production_shop.html" %}

            <!-- Unit Wiki -->
            {% include "components/production_details.html" %}

            <!-- Production Lines -->
            {% include "components/production_queue.html" %}

        </div>
    </main>
</body>

{% include 'partials/footer.html' %}

<script src="{{ url_for('static', filename='js/production.js') }}"></script>
</html>